# Dependencies and Build Outputs
node_modules
dist
.git

# Environment files (don't bake secrets into the image)
.env
.DS_Store
npm-debug.log
yarn-error.log

# IDE/Editor files
*.sublime-project
*.code-workspace
.vscode/
